:root {
  --primary-color: #7510f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding: 8vh;
}

body {
  overflow-x: hidden;
  height: 200vh;
}

nav,
header,
section {
  padding: 0 12rem;
}

.section-title {
  font-size: 56px;
  font-weight: 900;
  text-align: center;
  margin: 0em 0 0.5em 0;
  letter-spacing: 3px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  position: fixed;
  z-index: 99;
  background: transparent;
  box-shadow: none;
  transition: box-shadow 400ms linear;
  transition: background 400ms linear;
}

.is-solid {
  background: var(--primary-color);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.267);
}

.logo {
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  transition: color 400ms;
}

.nav-links a:hover {
  color: #000000;
}

/* Burger */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Header */
header {
  background: var(--primary-color);
  background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  height: 80vh;
  padding-top: 8vh;
}

header:after {
  content: "";
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  clip-path: polygon(0 100%, 100% 45%, 100% 100%, 0% 100%);
  width: 100%;
  background: white;
}

.hero-content {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  color: white;
}

.hero-content img {
  height: 28vw;
  position: relative;
  top: 7em;
  z-index: 1;
}

.hero-text h1 {
  font-size: 52px;
}

.hero-text p {
  font-size: 24px;
  font-weight: bold;
}

.hero-text button {
  background: transparent;
  outline: none;
  border: 3px solid;
  border-image-source: linear-gradient(85deg, #fe8c00, #f83600);
  border-image-slice: 1;
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1rem;
  color: white;
  cursor: pointer;
}

/* Social Links */

.social-links {
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-links a {
  height: 65%;
}

.social-links img {
  height: 100%;
  opacity: 60%;
  transition: opacity 500ms;
}

.social-links img:hover {
  opacity: 100%;
}

.social-icon {
  display: none;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 8rem;
  margin-top: 5rem;
  background: var(--primary-color);
  background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white;
}

#about h1 {
  margin: 0;
}

#about h4 {
  font-size: 36px;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

#about img {
  border-radius: 50%;
  height: 250px;
  border: 3px solid black;
  margin-top: 2rem;
}

#about ul {
  list-style: none;
  min-width: 40%;
}

#about ul li {
  display: flex;
  font-weight: bold;
  margin-top: 1rem;
}

#about div {
  display: flex;
  justify-content: center;
}

#about p {
  width: 50%;
}

/* Skills */
#skills {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.skill-heading {
  text-align: center;
  font-size: 30px;
}

.skill-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  justify-items: center;
  align-items: center;
  width: 75%;
  row-gap: 2em;
  margin: 1em auto 5em auto;
}

.skill-icons img {
  height: 6rem;
  margin-bottom: 1rem;
}

.alt-skill-icon {
  height: 3rem !important;
}

/* Portfolio */
#portfolio {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-color);
  background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}

#portfolio h1 {
  color: white;
  margin: 0;
}

#portfolio > p {
  color: white;
  font-size: 18px;
  margin-bottom: 5rem;
  text-align: center;
  width: 50%;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  justify-items: center;
  width: 80%;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.75em;
  padding: 60px 35px;
  border-radius: 12px;
  text-align: center;
  background: white;
  box-shadow: 6px 8px rgba(0, 0, 0, 0.336);
  width: 20vw;
}

.project-card img {
  margin-bottom: 2rem;
  height: 2.5vw;
}

.project-card p {
  font-size: 18px;
  margin-bottom: 2rem;
}

.project-card a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}

/* Contact */
#contact {
  margin-top: 8rem;
}

/* Footer */
footer div {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}

footer a {
  font-size: 42px;
  color: white;
}

@media only screen and (max-width: 768px) {
  nav,
  header,
  section {
    padding: 0 1rem;
  }

  .section-title {
    font-size: 36px;
  }

  /* Navbar */
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5c22cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: space-around;
  }
  .nav-links li {
    opacity: 0%;
  }
  .burger {
    display: block;
  }

  /* Header */
  header {
    height: 100vh;
  }

  header:after {
    display: none;
  }

  .hero-content {
    justify-content: center;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 18px;
  }

  header img {
    display: none;
  }

  /* Social Links */
  .social-links {
    position: absolute;
    justify-content: space-between;
    width: 34vw;
    height: 8vh;
    top: 92vh;
    left: calc(50% - 17vw);
  }

  .social-banner {
    display: none;
  }

  .social-icon {
    display: inline;
  }

  /* About */
  #about {
    color: black;
    background: transparent;
    margin-top: 8rem;
  }

  #about h4 {
    margin-bottom: 1rem;
    font-size: 28px;
  }

  #about div {
    flex-direction: column;
    width: 100%;
  }

  #about img {
    border: none;
  }

  #about ul {
    margin-bottom: 2rem;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about p {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  /* Skills */
  .skill-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    justify-items: center;
    row-gap: 2em;
    margin: 1em auto 2em auto;
    width: 100%;
  }

  .skill-icons img {
    height: 5rem;
  }

  .alt-skill-icon {
    height: 1.75rem !important;
  }

  /* Portfolio */
  #portfolio {
    padding: 4rem 1rem;
  }

  #portfolio > p {
    margin-bottom: 2rem;
    width: 100%;
    font-size: 16px;
  }

  .projects-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    width: 100%;
    gap: 1rem;
  }

  .project-card {
    width: 100%;
  }

  .project-card img {
    height: 10vw;
  }
}

.nav-active {
  transform: translateX(0%);
}

/* Animations */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
