* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding: 8vh;
}

body {
  overflow-x: hidden;
  height: 200vh;
}

nav,
header,
section {
  padding: 0 12rem;
}

.section-title {
  font-size: 56px;
  font-weight: 900;
  width: fit-content;
  border-bottom: 10px solid blueviolet;
  margin: 0em 0 0.5em 0;
  letter-spacing: 3px;
}

.is-solid {
  background: #6c00c4;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.267);
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  position: fixed;
  z-index: 99;
  background: transparent;
  box-shadow: none;
  transition: box-shadow 400ms linear;
  transition: background 400ms linear;
}

.logo {
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  transition: color 400ms;
}

.nav-links a:hover {
  color: #000000;
}

/* Burger */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Header */
header {
  background: #6c00c4;
  background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  height: 80vh;
  padding-top: 8vh;
}

header:after {
  content: "";
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  clip-path: polygon(0 100%, 100% 45%, 100% 100%, 0% 100%);
  width: 100%;
  background: white;
}

.hero-content {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  color: white;
}

.hero-content img {
  height: 28vw;
  position: relative;
  top: 7em;
  z-index: 1;
}

.hero-text h1 {
  font-size: 52px;
}

.hero-text p {
  font-size: 24px;
  font-weight: bold;
}

.hero-text button {
  background: transparent;
  outline: none;
  border: 3px solid;
  border-image-source: linear-gradient(85deg, #fe8c00, #f83600);
  border-image-slice: 1;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  margin-top: 2rem;
  color: white;
}

/* Social Links */

.social-links {
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-links a {
  height: 65%;
}

.social-links img {
  height: 100%;
  opacity: 60%;
  transition: opacity 500ms;
}

.social-links img:hover {
  opacity: 100%;
}

.social-icon {
  display: none;
}

/* Skills */
.skill-heading {
  text-align: center;
  font-size: 30px;
}

.skill-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  justify-items: center;
  align-items: center;
  row-gap: 2em;
  margin: 1em 0 5em 0;
}

.skill-icons img {
  height: 8rem;
}

.alt-skill-icon {
  height: 4rem !important;
}

@media only screen and (max-width: 768px) {
  nav,
  header,
  section {
    padding: 0 1rem;
  }

  .section-title {
    font-size: 36px;
  }

  /* Navbar */
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5c22cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: space-around;
  }
  .nav-links li {
    opacity: 0%;
  }
  .burger {
    display: block;
  }

  /* Header */
  header {
    height: 100vh;
  }

  header:after {
    display: none;
  }

  .hero-content {
    justify-content: center;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 18px;
  }

  header img {
    display: none;
  }

  /* Social Links */
  .social-links {
    position: absolute;
    justify-content: space-between;
    width: 34vw;
    height: 8vh;
    top: 92vh;
    left: calc(50% - 17vw);
  }

  .social-banner {
    display: none;
  }

  .social-icon {
    display: inline;
  }

  /* Skills */
  .skill-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    justify-items: center;
    row-gap: 2em;
    margin: 1em 0 2em 0;
  }

  .skill-icons img {
    height: 5.5rem;
  }

  .alt-skill-icon {
    height: 1.75rem !important;
  }
}

.nav-active {
  transform: translateX(0%);
}

/* Animations */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
