* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  position: fixed;
  z-index: 99;
  padding: 0 10rem;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  #hero-image {
    display: none;
  }

  nav {
    padding: 0 2rem;
  }

  header {
    padding: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

header {
  position: relative;
  width: 100%;
  height: 70vh;
  background: linear-gradient(45deg, #8614ce, #ff0057);
  padding: 0 10rem;
}
header:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #fff;
  clip-path: polygon(100% 30%, 100% 100%, 0% 105%);
}

.hero-content {
  position: relative;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
}

.hero-text h2 {
  font-size: 64px;
}

.hero-text p {
  font-size: 24px;
}

.hero-text button {
  background-color: transparent;
  border: 2px solid black;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 2rem;
}

#hero-image {
  width: 500px;
  height: 500px;
  position: relative;
  top: 3rem;
}

section {
  margin: 5rem 10rem;
}

.skill-bubble {
  width: 100px;
  height: 100px;
}
